body{
    margin: 0;
}

header{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h3{
    color: white;
    font-family: sans-serif;
}

.menu-hamburguer{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 30px;
}

.menu-hamburguer span{
    background-color: white;
    border-radius: 0 30px;
    height: 3px;
    margin: 3px 0;
    transition: 0.5s;
    width: 100%;
}

.nav-menu-hamburguer{
    display: none;
}

nav{
    background-color: lightgrey;
    padding: 10px;
}

nav a{
    color: black;
    font-family: sans-serif;
    padding: 5px;
    text-decoration: none;
}

.mostrarNav{
    display: flex;
    justify-content: space-around;
}
